NEXT_PUBLIC_CONTRACT_ADDRESS=0xBf17436EC5b4C7BFCfD5805c861252F75d7A19A0
NEXT_PUBLIC_STUDIO_RPC_URL=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio-dev.genlayer.com/api
GENLAYER_RPC_URL=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61997
