NEXT_PUBLIC_CONTRACT_ADDRESS=0x15A3AE82d4AC497A551B92Edde65b919275eB9e7
NEXT_PUBLIC_STUDIO_RPC_URL=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio-dev.genlayer.com/api
GENLAYER_RPC_URL=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61997
