NEXT_PUBLIC_CONTRACT_ADDRESS=0x4Eac5CdBdfF6307a0542393ca72627A823AF1D9A
NEXT_PUBLIC_STUDIO_RPC_URL=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio-dev.genlayer.com/api
GENLAYER_RPC_URL=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61997
